.calendar-days{
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    opacity: 0.5;
    width: 40px;
    text-align: center;
}

.calendar-days-bg {
    width: 375px;
    height: 20px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.calendar-month-bg {
    width: 375px;
    height: 40px;
}
.prev {
    color: #48C1C2;
    background-color: transparent;
    border:0;
    font-family: Montserrat, serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    width: 59px;
    height: 40px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.next {
    color: #48C1C2;
    font-family: Montserrat, serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    width: 66px;
    height: 40px;
    text-align: right;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.next:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.prev:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.weak {
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.weak:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.switcher{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.calendar_controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 375px;
    height: 20px;
    position: relative;
}

.this_week_button{
    color: #E8E9EB;
    line-height: 20px;
    text-align: center;
    width: 100px;
    height: 20px;
    opacity: 0.5;
    border-radius: 10px;
    border: 1px solid #E8E9EB;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.this_month_button{
    color: #E8E9EB;
    text-align: center;
    line-height: 20px;
    width: 100px;
    height: 20px;
    opacity: 0.5;
    border-radius: 10px;
    border: 1px solid #E8E9EB;
    vertical-align: middle;
    margin-right: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
