.days_row{
    display: flex;
    width: 375px;
    height: 280px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.day_component_standard{
    padding-top: 9px;
    color: #0B3157;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.28px;
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.day_component_today{
    padding-top: 9px;
    color: #F06543;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    outline: none;
    -webkit-user-select: none;
}
.day_component_holiday{
    padding-top: 9px;
    color: crimson;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    outline: none;
}
.day_picked{
    padding-top: 9px;
    outline: none;
    background-color: #0B3157;
    color: #E6EAEE;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.empty_day{
    width: 40px;
    height: 40px;
    margin: 6px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.event{
    border-width: 6px;
    height: 3px;
    background-color: #48C1C2;
    border-radius: 6px;
    max-width: 70%;
    min-width: 30%;
    margin: 0 7px;
}
.event2{
    border-width: 6px;
    height: 3px;
    background-color: #48C1C2;
    border-radius: 6px;
    min-width: 28%;
    margin: 0 1px;
}

.event3{
    border-width: 6px;
    height: 3px;
    background-color: #48C1C2;
    border-radius: 6px;
    min-width: 19%;
    margin: 0 1px;
}
.events{
    text-align: center;
    width: 40px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}


.grid{
    height: 50px;
    width: 375px;
}
.number_date{
    vertical-align: middle;
}
