.days_row{
    display: flex;
    width: 375px;
    height: 280px;
    flex-flow: row wrap;
}
.day_component_standard{
    color: #0B3157;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.28px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.day_component_today{
    background-color: lightsteelblue;
    color: #E6EAEE;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.day_component_holiday{
    color: crimson;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.day_picked{
    outline: none;

    background-color: #0B3157;
    color: #E6EAEE;
    font-family: Montserrat, serif;
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.28px;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.day_picked::-moz-focus-inner {
    border: 0;
}
.event{
    background-color: aquamarine;
    border-width: 6px;
    border-radius: 2px;
    height: 3px;
    margin: 1px;
    width: 9px;
}

.empty_day{
    width: 40px;
    height: 40px;
    margin: 6px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.events{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40px;
    box-sizing: border-box;
    overflow: hidden;
}
